body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
#root {
  font-family: "Montserrat";
}
code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.weekCalendar {
  height: 95vh !important;
  overflow-y: hidden;
}
.calendarModal__content {
  width: fit-content;
  min-width: 400px;
  background: none !important;
  border: none !important;
}
.calendarModal {
  padding: 20px !important;
}
.custom-control {
  padding: 0 !important;
}

.event-card .euiTitle--xsmall {
  color: #ffffff !important;
}
